<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.sunshine.com.example.android.fitnesseveryday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconfitness"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconfitness"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Arm"/>
        <activity android:name=".History" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />

        <receiver android:name=".widget.FitnessWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/fitness_widget_provider_info" />
        </receiver>

        <!-- recever -->
        <service
            android:name=".widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        />
    </application>

</manifest>